@import url(https://fonts.googleapis.com/css?family=Bitter:700);

.container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    flex-direction: column;
}

.container--body{
	width: calc(100% - 3em);
	height: calc(100% - 3em);
	margin: 1.5em;
	display: flex;
	align-items: center;
    justify-content: center;
    h2{
    	color: #fff;
    	font-size: 2.5em;
    	font-family: 'Bitter', serif;
        text-align: center;
    }
}