.nav
	a#nav-bar.fa.fa-bars
.menu.col-md-3#menu-bar.act
		nav
			ul
				li
					a(href="inicio.html")
						img(src="image/logix.png", alt="")
				li 
					a(href="inicio.html")
						i.fa.fa-home
						|Inicio
				li.sub-item
					i.fa.fa-file-text-o
					|Sub-Menu
					ul
						li
							a(href="#")
								i.fa.fa-asterisk
								|Number
						li
							a(href="#")
								i.fa.fa-anchor
								|Anchor
						li
							a(href="formulario.html")
								i.fa.fa-book
								|Formulario
				li 
					a(href="listado.html")
						i.fa.fa-list-ol
						|Listado
		.btn--salir
			a.fa.fa-sign-out(href='index.html')